{% extends "base.jinja" %}

{% block title %}Index{% endblock %}

{% block content %}

<div class="row">
  <div class="col-12">
    <div class="list-group w-auto">
      {% for item in links %}
      <div class="list-group-item d-flex flex-column py-3 ">
        <div class="d-flex gap-5 w-100 justify-content-between align-items-baseline">
          <h6 class="mb-0 me-auto"><a href="{{ global_data.base_url }}/{{ item.shortname }}">{{ item.shortname }}</a>
          </h6>
          <small class="opacity-50 text-nowrap" title="{{ item.created_at_iso8601() }}">
            {{ item.created_at_timeago() }}, {{ item.clicks }} clicks
          </small>
          <div>
            <div class="dropdown">
              <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false">
                More
              </button>
              <div class="dropdown-menu">
                <form method="post" action="/-/list">
                  <input name="shortname" value="{{ item.shortname }}" type="hidden" />
                  <input name="action" value="edit" type="hidden" />
                  <button type="submit" class="link dropdown-item">Edit</button>
                </form>
                <form method="post" id="delete" action="/-/list">
                  <input name="shortname" value="{{ item.shortname }}" type="hidden" />
                  <input name="action" value="delete" type="hidden" />
                  <button type="button" class="link link-danger dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">Delete</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <p class="mb-0 opacity-75 text-break font-monospace">
          <small>{{ item.longurl }}</small>
        </p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Enter a password to delete</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input type="password" name="password" class="form-control" id="password" form="delete">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" form="delete" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block script %}
<script>
  const passwordModal = new bootstrap.Modal(document.getElementById("exampleModal"))
</script>
{% endblock %}